# Geoespacial
earthengine-api==1.5.8
geopandas==1.0.1
rasterio==1.4.3
shapely==2.0.6
folium==0.19.5
pyproj==3.7.1

# Dados
pandas==2.2.3
numpy==2.2.4

# Visualização
plotly==6.7.0

# Notebooks (exploração)
jupyter==1.1.1
matplotlib==3.10.1

# Utilitários
python-dotenv==1.1.0
tqdm==4.67.1
